body{
    color: #ff4091;
    background-color: #000;
}

a:link{
    color: #445;
    background-color: #212121;
}
a:visited{
    color: #ff4091;
    background-color: #212121;
}
a:hover{
    color: #667;;
    background-color: #212121;
}
header{
    color: #ff4091;
    background-color: #000000;
    border-color: #667;
}
header nav{
    color: #ff4091;
    background-color: #212121;
    border-color: #667;
}
article{
    color: #ff4091;
    background-color: #000;
    border-color: #212121;
}
header nav ul{
    border-color: #99a;
}
header nav a:link,header nav a:visited {
    color: #eef;
    background-color: transparent;
    border-color: #99a;
}
header nav a:hover {
    color: #445;
    background-color: #ff4091;
}
header nav a:active {
    color: #667;
    background-color: #ff4091;
}
article img {
    border-color: #ba9;
    outline-color: #dcb;
}
#screenshots_gallary a {
    background-color: transparent;
}
#descripton{
    font-family: Impact;
}
#weibo {
    text-decoration: none;
    font-family: "Al Bayan";
    color: gold;
}
input.placeholder{
    color: #ff4091;
    border-color: #ff4091;
}
#name:focus{
    color: #ff4091;
    border-color: #ff4091;
}
#email:focus{
    color: #ff4091;
    border-color: #ff4091;
}
#message:focus{
    color: #ff4091;
    border-color: #ff4091;
}
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active {
    color: #eef;
    background-color: #ff4091;
}
