section, header, article, nav {
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0.5em 10%;
    background-image: url("../image/backdrop.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 60em;
}
header {
    background-image: url("../image/notification_icon.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
}
header nav {
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    text-decoration: none;
    padding-left: 5%;
}
header nav ul {
    width: 100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}
header nav li {
    display: inline;
}
header nav li a {
    display: block;
    float: left;
    padding: .5em 2em;
    border-right: .1em solid;
    text-decoration: none;
    font-family: "Apple Braille";
}
article {
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}
article h1{
    padding-bottom: 20px;
}

article img {
    border-width: .1em;
    border-style: none;
    outline-width: .1em;
    outline-style: none;
}
#what_dribbble{
    font-family: Impact;
    padding-bottom: 10px;
}
#what_qribbble{
    font-family: Impact;
    padding-top: 10px;
    padding-bottom: 10px;
}
#slideshow {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
#preview {
    position: absolute;
    border-width: 0;
    outline-width: 0;
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-width: 0;
    outline-width: 0;
}


#screenshots_gallary li{
    display: inline;
    padding-left: 50px;
}

#screenshots_title{
    padding: 20px;
    font-family: Impact;
}


td {
    padding: .5em 3em;
}


dl {
    overflow: hidden;
}
dt {
    float: left;
}
dd {
    float: left;
}


label {
    display: block;
}
fieldset {
    border: 0;
}